/*@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');*/
body {
    font-family: 'Ubuntu', sans-serif;
    color: #111111;
    /*background-image: url("../images/BackgroundLarger.jpg");*/
    /*background-size: cover;*/
    background-color: #7777ff;
    font-size: 22px;
}

.contBox {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 5px 50px 5px 50px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: #E6E6E6;
    display: block;
    overflow: hidden;
    border-radius: 15px;
}

@media only screen and (max-width: 900px)  {
    .contBox {
        width: calc(90% - 30px);
    }
}

/* Main Content */
header {
    position: relative;
    min-height: 150px;
    margin-bottom: 20px;
}

main, footer {
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
    z-index: -1;
}

#footerLinks{
    text-align: center;
    /*background-color: #008800;*/

}


.SelectedPage {
    /*background-color: white;*/
    color: #7777ff;
    font-size: 20px;
}

.UnselectedPage {
    /*background-color: black;*/
    color: #111111;
    font-size: 20px;
}

.UnselectedPage:hover {
}

#headerNameArea {
    position: absolute;
    top: 25px;
    width: calc(70% - 20px);
    left: calc(0% + 20px);
}

#headerFigureArea {
    text-align: right;
    position: absolute;
    width: 30%;
    right: 0;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    /*text-decoration: underline;*/
}

main h1 {
    font-size: 40px;
    font-weight: bolder;
}

main h2 {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    /*font-style: italic;*/
}

main h3 {
    font-size: 25px;
    font-weight: bolder;
}

main h4 {
    font-size: 20px;
    font-weight: bolder;
}

main p {
    padding-bottom: 20px;
}

main {}

ul li{
    margin: 10px 0;
}

ol li{
    margin: 10px 0;
    padding: 5px 0;
}

footer {}

#FooterContent {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


main a {
    color: #7777ff;
}

main a:visited {
    color: #7777ff;
}

main a:hover{
    color: #7777ff;
}

.scroll_pane {
    overflow: scroll;
}

code {
    background-color: black;
    color: #008800;
}